.body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial, sans-serif';
    padding: 20px; /* Add padding to ensure content doesn't touch the screen edges */
  }
  
  .certificate {
    width: 100%;
    max-width: 650px;
    height: auto;
    padding: 20px;
    border: 10px solid #2c3e50;
    background-color: #ecf0f1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .certificate-header {
    border-bottom: 5px solid #2c3e50;
    margin-bottom: 20px;
  }
  
  .certificate-header h1 {
    margin: 0;
    font-size: 2em;
    color: #2c3e50;
  }
  
  .certificate-body {
    margin: 20px 0;
  }
  
  .certificate-body p {
    font-size: 1.1em;
    margin: 10px 0;
  }
  
  .certificate-body .recipient-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #2980b9;
  }
  
  .certificate-body .achievement {
    font-size: 1.3em;
    color: #16a085;
  }
  
  .certificate-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .certificate-footer .date,
  .certificate-footer .signature {
    text-align: left;
  }
  
  .certificate-footer p {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .certificate-footer .signature p:last-child {
    margin-top: 20px;
    font-size: 1.2em;
    color: #7f8c8d;
  }
  
  .btn-green {
    background-color: rgb(94, 208, 94);
    margin-bottom: 10%;
    margin-top: 20%;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .btn-green:hover {
    background-color: darkgreen;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn-green:active {
    background-color: darkgreen;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .btn-green:focus {
    outline: none;
  }
  
  @media (max-width: 768px) {
    .certificate {
      padding: 15px;
    }
  
    .certificate-header h1 {
      font-size: 1.8em;
    }
  
    .certificate-body p {
      font-size: 1em;
    }
  
    .certificate-body .recipient-name {
      font-size: 1.5em;
    }
  
    .certificate-body .achievement {
      font-size: 1.2em;
    }
  
    .certificate-footer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .certificate-footer .date,
    .certificate-footer .signature {
      text-align: left;
      width: 100%;
    }
  
    .certificate-footer p {
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 480px) {
    .certificate {
      padding: 10px;
    }
  
    .certificate-header h1 {
      font-size: 1.5em;
    }
  
    .certificate-body p {
      font-size: 0.9em;
    }
  
    .certificate-body .recipient-name {
      font-size: 1.2em;
    }
  
    .certificate-body .achievement {
      font-size: 1em;
    }
  
    .certificate-footer p {
      font-size: 0.8em;
    }
  }
  