<div class="blog-card">
  <div class="description">
      <h1>SupraEnglish bilan o'rganing!</h1>
      <h2>AI yordamida zamonaviy tizimda o'rganing</h2>
      <p>SupraEnglish orqali siz AI Flashcards bilan so'z yodlaysiz, Grammatikangizni sinaysiz, va kunlik rivojlanishingizni tekshirib borasiz! <br> Video orqali websaytimiz yo'riqnomasini ko'ring!</p>
      <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/lc8z6TPKzh8?si=F99Os87MlSiwRFIG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <p class="read-more">
          <a routerLink="/FAQ">Read More -></a>
      </p>
  </div>
</div>

<div class="blog-card alt">
  <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
  </div>
  <div class="description">
      <h1>Interesting English</h1>
      <h2>endi so'z yodlash zerikarli emas!</h2>
      <p>Innovatsion usullar bilan so'z boyligingizni kengaytiring va muloqot ko'nikmalaringizni oshiring!</p>
      <p class="read-more">
          <a routerLink="/FAQ">Read More -></a>
      </p>
  </div>
</div>