<app-navbar></app-navbar>

<div class="container">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion">
      <div class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false" (click)="toggleAccordion($event)">
          <span class="accordion-title">How does the AI help me improve my vocabulary?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>Just talk to it! It shows you uzbek words which you should translate into english. If you speak correctly, you move on!</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-2" aria-expanded="false" (click)="toggleAccordion($event)">
          <span class="accordion-title">Is there a cost to use the vocabulary & grammar tools here?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>No, we offer these services for absolutely free!</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-3" aria-expanded="false" (click)="toggleAccordion($event)">
          <span class="accordion-title">How can I track my progress in vocab & grammar?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>Please, check out your profile page - loading...</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false" (click)="toggleAccordion($event)">
          <span class="accordion-title">Can I use the website on my mobile device?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>You can make use of SupraEnglish in any device you have!</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-5" aria-expanded="false" (click)="toggleAccordion($event)">
          <span class="accordion-title">How can I contact the developers?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>Please browse this URL: https://myurls.co/mr.otabek</p>
        </div>
      </div>
    </div>
  </div>  

<app-footer></app-footer>