<nav class="navbar navbar-light bg-success fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Essential<span class="span__malik">Books</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Essential</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="./login.html">Sign</a>
            </li>
        
            </ul>
            
        </div>
        </div>
    </div>
    </nav>






<div class="header__about">
    <div >

    <h3 class="header__essential">Essential 1</h3>
    <h3 class="header__essential">Essential 2</h3>
    <h3 class="header__essential">Essential 3</h3>
    <h3 class="header__essential">Essential 4</h3>
    <h3 class="header__essential">Essential 5</h3>
</div>

<img src="./img/Virtual-English-for-Beginners.jpg" alt="" class="home_image">
</div>



<div class="header__chart-text">
    <h1>Select units</h1>

</div>


<section class="sectionWord">





<div class="header__chart ">

    
    <div class="cart1">
        

        <h3 class="header__span">Unit 1</h3>
        <h3 class="header__span">Unit 2</h3>
        <h3 class="header__span">Unit 3</h3>
        <h3 class="header__span">Unit 4</h3>
        <h3 class="header__span">Unit 5</h3>
        <h3 class="header__span">Unit 6</h3>
        <h3 class="header__span">Unit 7</h3>
        <h3 class="header__span">Unit 8</h3>
        <h3 class="header__span">Unit 9</h3>
        <h3 class="header__span">Unit 10</h3>
    

    </div>

    <div class="cart2">
        <h3 class="header__span">Unit 11</h3>
        <h3 class="header__span">Unit 12</h3>
        <h3 class="header__span">Unit 13</h3>
        <h3 class="header__span">Unit 14</h3>
        <h3 class="header__span">Unit 15</h3>
        <h3 class="header__span">Unit 16</h3>
        <h3 class="header__span">Unit 17</h3>
        <h3 class="header__span">Unit 18</h3>
        <h3 class="header__span">Unit 19</h3>
        <h3 class="header__span">Unit 20</h3>

    </div>

    <div class="cart3">

        <h3 class="header__span">Unit 21</h3>
        <h3 class="header__span">Unit 22</h3>
        <h3 class="header__span">Unit 23</h3>
        <h3 class="header__span">Unit 24</h3>
        <h3 class="header__span">Unit 25</h3>
        <h3 class="header__span">Unit 26</h3>
        <h3 class="header__span">Unit 27</h3>
        <h3 class="header__span">Unit 28</h3>
        <h3 class="header__span">Unit 29</h3>
        <h3 class="header__span">Unit 30</h3>
    

    </div>

    <div class="video__frame">

        <!-- <iframe width="660" height="615" src="./img/channels4_profile.jpg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->

        <img src="./img/channels4_profile.jpg" alt=""  width="660" height="615" >

    </div>





</div>


</section>


<section class="sectionAbout ">






<div class="header__section-two">

<div class="header__section-container">

    

    <div class="select__unit">
        <!-- <span class="select__unit-text">your select unit</span> -->
        <br>
            <br>
        <select class="form-select">
            <option selected>Yours select unit</option>
            <!-- <option  value="1">Agree -rozi bolmoq</option>
            <option value="2">angry - jahldor</option>
            <option value="3">attack - hujum qilmoq</option> -->
            </select>
            <br> <br>
            <!-- <button class="btnRandom">Random</button> -->
        </div>


    

    <section class="sectionMainCss">

    
        <span class="section__answer">Answer 2</span>
        
        <div class="container">
            <div class="micra_text">

                <i class="fa-solid fa-microphone-slash"></i>
            </div>
            <div class="texts">
                <p class="word"></p>
                
            </div>
            
        </div>
        <div class="buttonBtn">
            <!-- <input type="number" class="inputType"/> -->

            <p>Iltimos Ingliz tilidagi tarjimasini ovoz orqali javob bering  <br> <br> Togri javob  bersangiz jadvaldagi keyingi savol beriladi</p>
            
        </div>
        
        <!-- <button class="btn">Raqam junatish</button> -->
    
    </section>


</div>

<!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=vt3Of8X12Uo&t=5112s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="watchVideo"></iframe> -->

<!-- <img src="./img/1663183372_36-mykaleidoscope-ru-p-veselaya-obezyana-emotsii-37.jpg" alt="" width="560" height="315" class="watchVideo"> -->

</div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" ></script>