<h1 class="dev">
    Our Developers Team
</h1>

<div class="container">
    <div class="card">
      <div class="img">
        <img src="assets/images/Nursulton.jpg">
      </div>
      <div class="top-text">
        <div class="name">Nursulton Malikov</div>
        <p>Full-Stack Developer</p>
      </div>
      <div class="bottom-text">
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!</div>
        <div class="btn">
          <a href="LINK">Follow Him</a>
        </div>
  </div>
  </div>
  <div class="card">
      <div class="img">
        <img src="assets/images/Otabek.png">
      </div>
  <div class="top-text">
        <div class="name">Mr. Otabek</div>
  <p>
  Full-Stack Developer</p>
  </div>
  <div class="bottom-text">
        <div class="text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!</div>
  <div class="btn">
          <a href="https://www.instagram.com/m_otabek_007/">Follow Him</a>
        </div>
  </div>
  </div>
  <div class="card">
      <div class="img">
        <img src="assets/images/Ismoil.png">
      </div>
  <div class="top-text">
        <div class="name">
  Ismoil Tohirov</div>
  <p>
  Full-Stack Developer</p>
  </div>
  <div class="bottom-text">
        <div class="text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!</div>
  <div class="btn">
          <a href="https://github.com/IsmoilDotnet">Follow Him</a>
        </div>
  </div>
  </div>
  </div>