<footer>
    <div class="footer-content">
        <!-- <img src="assets/images/Screenshot_2024-05-27_220039-removebg-preview.png" class="h-15" alt="Flowbite Logo" /> -->
        <h3>EnglishHub</h3>
        <p>Template is a blog website where you will find great tutorials on web design and development. Here each tutorial is beautifully described step by step with the required source code.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-telegram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a >EnglishHub</a> </p>
        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Team</a></li>
                <li><a href="https://myurls.co/mr.otabek">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>